# --------------------
# Python
# --------------------
__pycache__/
*.pyc
*.pyo

# --------------------
# Virtual environment
# --------------------
venv/
.env/

# --------------------
# Trained models
# --------------------
*.keras
*.h5
*.ckpt

# --------------------
# Data / datasets
# --------------------
KTH-TIPS2/
inputs/
outputs/

# --------------------
# Generated images / results
# --------------------
*.png
*.jpg
*.jpeg

# --------------------
# Logs
# --------------------
logs/
